.badage-container
{
  position: relative;
}

.badage-red
{
  background: #d8321e;
  color: #fff;
}

.tab-item .badage-red
{
  position: absolute;
  top: -1px;
  right: -22px;
  z-index: 99999;
  border: 1px solid #0f0e12;
  padding: 1px 6px 2px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.user-menu-cell .badage-red
{
  /* TODO: 把按钮位置往上调节 */
}

.badage-hero
{
  position: absolute;
  background: url(/images/badage-hero.png) no-repeat;
  width: 46px;
  height: 37.5px;
  background-size: cover;
  top: -14px;
  right: -14px;
  display: block;
}
