.single-game
{
  width: 100%;
  background: url(/images/bg-matchup-header.png) no-repeat !important;
  background-size: cover !important;
}

.table-view-cell.bet-subject-cell
{
    background: #1E2025;
    border-top: 1px solid #303030;
    position: relative;
    margin-bottom: 10px;
    padding: 16px 20px;
}

.single-game .game-cell
{
  width: 25%;
}

.single-game .team-home
{
  margin-left: 10%;
}

.single-game .game-detail{
  width: 30%;
}

.single-game .team-away
{
  float: right;
  margin-right: 10%;
}

.bet-subject-header
{
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 6px;
  text-align: center;
  width: 10%;
}

.bet-subject-title
{
  font-size: 14px;
  color: #d6aa69;
  word-wrap: break-word;
  width: 72%;
}

.bet-subject-cell .bet-stats
{
    color: #777777;
    font-size: 10px;
}

.table-view-cell.bet-subject-cell
{
    border: none !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.bet-subject-options
{
    font-size: 12px;
    color: #fff;
}

.bet-subject-option
{
    display: block;
    float: left;
    padding: 8px 12px;
    margin-right: 22px;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    border: 1px solid #646469;
    margin-top: 10px;
}

.bet-subject-option-selected
{
    background: #d9331b;
    border: 1px solid #d9331b;
}

.bet-subject-option-selected:active
{
    background: #BE2C17;
    user-select: none;
    border: 1px solid #BE2C17;
}

.game-detail
{
  position: relative;
  top: 15px;
}


/** Champion **/
.bet-champion-cell
{
  position: relative;
}

.bet-subject-cell .goto
{
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
}

.bet-champion-cell a
{
  margin: 0 !important;
  padding: 0 !important;
}

.bet-content
{
  position: relative;
}

.bet-champion-options
{
  width: 80%;
  overflow: hidden;
  /*margin-left: -8px;*/
  margin-top: 10px;
}


.bet-champion-team
{
  width: 25%;
  text-align: center;
  float: left;
}


.bet-champion-team .circle-wrapper
{
  /*position: relative;*/
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-sizing: content-box;
}

.bet-champion-team .champion-team-logo
{
  width: 40px;
  height: 40px;
  /*border: 1px solid #79613d;*/
  border-radius: 50%;
}
