.tron-btn, .tron-btn:visited
{
  position: relative;
  display: inline-block;
  padding: 6px 12px 7px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  border-radius: 15px;
  background: transparent;
}

.tron-btn-discourage
{
  border: 1px solid #b4b4b4;
  color: #b4b4b6;
  margin-right: 20px;
}

.tron-btn-encourage
{
  border: 1px solid #c12c14;
  color: #fff;
  background: #c12c14;
}

.tron-btn-disabled
{
  border: 1px solid #454449;
  color: #69696b;
  background: transparent;
}

.tron-btn-ghost, .tron-btn-default
{
  display: block;
  border: 1px solid #fff;
  padding: 8px 30px 7px;
  border-radius: 3px;
  color: #fff;
  background: transparent;
}

.tron-btn-default
{
  display: inline-block;
  padding: 0;
}

.tron-btn-ghost-inactive
{
  opacity: 0.5;
}

.tron-btn-ghost-active
{
  border: 1px solid #d8321e;
  background: #d8321e;
}

.tron-btn-ghost-active:active, .tron-btn-ghost-active:hover, .tron-btn-ghost-active:visited
{
  background: #d8321e;
}

.tron-btn-ghost-small
{
  display: block;
  padding: 0px 10px 0px;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
}

.tron-btn-ghost-small:active
{
  color: #fff;
}

input.btn
{
  padding-bottom: 8.5px !important;
}

input.btn::-webkit-input-placeholder
{
  color: #fff;
}

.page-header .tron-btn-ghost-small
{
  position: absolute;
  padding: 0;
  display: inline-block;
  padding: 0px 6px;
  text-decoration: none;
  right: 15px;
}

.tron-btn-encourage-large-buy
{
  border-radius: 30px;
  border: 1px solid #c02c14;
  padding: 14px 60px;
  font-size: 15px;
}

.user-header-block .tron-btn
{
  display: inline-block;
  position: static;
  border-radius: 15px;
}

.recharge-cell .btn, .claim-accessory-page .btn
{
  width: 60px;
  padding: 5px;
}

.btn-pay
{
  margin-top: 50px;
}

.tron-btn-pay
{
  margin-top: 8px;
  margin-left: 0;
  margin-right: 15px;
  width: 94%;
}
