.champion-bet-page .bet-subject-title
{
  width: 100%;
}

.champion-bet-page .bet-subject-option-selected
{
  background-color: transparent;
}

.image-header
{
  position: relative;
  height: 130px;
}

.image-header img
{
  width: 100%;
  height: 100%;
  position: relative;
}

.league-intro
{
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.league-intro h5
{
  color: inherit;
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: center;
}

.league-intro p
{
  font-size: 11px;
  line-height: 16px;
}

.image-header-text-box
{
  background: rgba(0, 0, 0, 0.5);
  height: 30px;
  position: absolute;
  bottom: 0;
  /*background-color: transparent !important;*/
  font-size: 15px;
  overflow: hidden;
  width: 100%;
  line-height: 30px;
}

.image-header-text-box p
{
  color: #fff;
}

.image-header-text
{
  width: 100%;
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
  padding-left: 10px;
  text-overflow:ellipsis;
}

.image-header-title
{
  width: 75%;
}

.image-header-handle
{
  color: #fff;
  width: 18%;
  background: rgba(172, 140, 93, 0.5);
  position: absolute;
  font-size: 15px;
  bottom: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  padding: .3em;
  height: 30px;
}

.image-header-handle .icon
{
  font-size: 15px;
  margin-left: .2em;
}

.bet-subject-cell.champion-subject-cell
{
  padding: 0 !important;
}

.champion-subject
{
  background: #000000;
  padding-left: 10px;
  padding-top: .5em;
  padding-bottom: .5em;
}

.champion-subject-options
{
  width: 100%;
  margin-top: 15px;
  margin-left: 5%;
}

.champion-subject-options .champion-option-cell
{
  width: 20%;
  height: 122px;
  vertical-align: top;
  text-align: center;
}

.champion-subject-options .bet-subject-option
{
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.champion-subject-options .odds
{
  color: #b4b4b4;
}

.champion-subject-options a
{
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.champion-subject-options .bet-subject-logo-wrapper
{
  width: 56px;
  height: 56px;
  border: 1px solid #af8f60;
  margin-bottom: .2em;
  margin-left: auto;
  margin-right: auto;
}

.bet-subject-logo
{
  width: 54px;
  height: 54px;
}
.table-view-cell-sp{
  position: relative;
  left: -18px;
  font-size: 12px;
  padding: 0 ;
  overflow: visible;
  list-style: none;
  border-bottom-width: 0!important;
  background: #1E2025;
  text-align: justify;
  margin-bottom:10px;
}
.icon-disc-sp{
  position: absolute;
  top: 6px;
  left: -15px;
}
.recap-cell-sp{
  background: #1E2025;
  border-bottom: 0!important;
}
