.article-rule
{
  color: #fff;
  padding: 15px;
  font-size: 12px;
}

.article-rule .article-section
{
  margin-bottom: 20px;
}

.article-rule .article-section-title
{
  color: #ac8c5d;
  font-weight: normal;
  font-size: 12px;
}


.article-rule .article-section-content
{
  color: #fff;
}

.article-rule-game
{
  line-height: 20px;
}

.article-rule-game h5, .article-rule-game h6
{
  color: #fff;
  line-height: 20px;
}

.article-rule-game ul
{
  list-style: none;
  padding-left: 0;
}

.article-rule-game ul ul
{
  padding-left: 15px;
  color: #b4b4b4;
}
