.tron-table
{
  border-collapse: collapse;
  border: 2px solid #2b2b32;
  border-radius: 30px;
  padding: 5px;
  margin-bottom: 10px;
}

.tron-table caption
{
  text-align: left;
  border: 2px solid #2b2b32;
  border-bottom: none;
  padding: 5px;
  padding-left: 10px;
  color: #ac8c5d;
}

.tron-table th
{
  text-align: left;
  color: #b4b4b4;
}

.tron-table th, .tron-table td
{
  text-align: center;
  padding: 8px 4px 8px;
  font-weight: normal;
}

.tron-table th, .tron-table td
{
  border: 1px solid #2b2b32;
}

.tron-table
{
  border-top: none !important;
}
