body
{
    background: #19191e;
}

.table-view
{
    background: #19191e;
}

.content
{
    background: #19191e;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.page-header.align-left
{
  padding-left: 15px;
}

.bar {
    backface-visibility: hidden;
    background-color: #0e0e10;
    border-bottom: 1px solid #0e0e10;
    height: 44px;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    right: 0;
    z-index: 10;
}

.bar-tab
{
    border-top: #302f34;
}

.table-view-cell
{
    background: #1a191f;
    color: #b5b5b7;
}

.table-view .table-view-divider
{
    background: #0a0a0a;
    color: #949494;
    background-image: none;
}

.table-view-cell
{
    border-bottom: 1px solid #0a0a0a !important;
}

.game-cell
{
    width: 25%;
}

.game .game-cell
{
    float: left;
}

.game-cell.team
{
    width: 80px;
}

.game-cell.team
{
    text-align: center;
}

.game-cell.team img span
{
    float: left;
}

.game-detail
{
    text-align: center;
}

.game-status
{
  position: relative;
  top: 15px;
}

.game-rule, .game-status
{
    text-align: center;
}

.game-score, .game-vs
{
    margin-top: 6%;
}

.game
{
    position: relative;
}

.game-time
{
    position: absolute;
    left: 0;
    top: 0;
    line-height: 20px;
    background: #32640f;
    padding-left: 15px;
    width: 60px;
    border-bottom-right-radius: 60px;
    font-size: 12px;
    color: #fff;
}

.table-view .table-view-cell
{
    padding: 0;
    background-image: none;
}

.game-league
{
  padding-left: 15px;
}

.game-cell
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.game-score
{
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
}

.game-vs, .game-rule, .game-status
{
    color: #b4b4b4;
    font-size: 10px;
}

.game-vs
{
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.game-league
{
    font-size: 12px;
    line-height: 14px;
}

.game-cell .team-name
{
    font-size: 10px;
    color: #ad8d5e !important;
    width: 100%;
    display: block;
}

.team-logo-wrapper
{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-clip: padding-box;
  border: 1px solid #79613d;
  background: #0e1316;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
}

.game-cell.team img
{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background: #0e1316;
}

.game-on
{
    background-color: #a42610;
}

.game-not-started
{
    background-color: #32640f;
}

.game-ended
{
    background-color: #39383e;
}

.game-meta
{
  color: #4d9719;
  font-size: 11px;
  line-height: 28px;
}


# Tabbar

.bar-tab .tab-item.active
{
    color: #d5331e !important;
}

.table-view-cell > a:not(.btn)
{
    margin: 0;
}

/*.table-view-cell > a:not(.btn):active
{
  background-color: rgba(0, 0, 0, 0.5);
}*/

.user-balance
{
  color: #fff;
}

button.close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}

.bar-tab .tab-item.active, .bar-tab .tab-item:active
{
    color: #d8321e;
}

.bar-tab .tab-item
{
    color: #e2e2e2;
    text-align: center;
}

.page-header
{
    background: #5d1509;
    color: #fff;
    margin-bottom: 0;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.roulette-entrance-header
{
  color: #ffcb27 !important;
}

.game-on-going
{
  width: 100%;
  background: url(/images/bg-game-list.png) no-repeat !important;
  background-size: cover !important;
  background-position: 50%;
}

.game-on-betting
{
  background-color: #212129 !important;
}
