.badage-container
{
  position: relative;
}

.badage-red
{
  background: #d8321e;
  color: #fff;
}

.tab-item .badage-red
{
  position: absolute;
  top: -1px;
  right: -22px;
  z-index: 99999;
  border: 1px solid #0f0e12;
  padding: 1px 6px 2px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.user-menu-cell .badage-red
{
  /* TODO: 把按钮位置往上调节 */
}

.badage
{

}

.badage-item
{
  color: #0BCDB1;
  font-size: 12px;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
}

.badage-stats
{
  background: #4F3E2C;
  padding: 2px 4px;
}

.recap-cell .badage-stats
{
  margin-right: .2em;
}

.redeem-record-cell .badage
{
  top: 0;
  left: 0;
}
