.bet-history-view
{
  background: #0a0a0a;
}

.bet-history-view .table-view-divider, .bet-history-view p
{
  font-size: 14px;
  margin-bottom: 10px;
}

.bet-history-view .bet-history-cell
{
  padding: 10px;
  background: #1E2025;
  margin-bottom: 10px;
  color: #E1E1E1;
}

.table-view-cell.bet-history-cell
{
  border: none !important;
}

.bet-history-card
{
  padding: 10px;
  font-size: 10px;
}

.bet-history-card .bet-history-card-header
{
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.bet-history-card.result-out
{
  background: #332E2B;
}

.bet-history-card .bet-time,
.bet-history-card .bet-subject
{
  color: #777777;
}

.bet-history-card .bet-subject
{
  color: #E1E1E1;
}

.bet-history-card .bet-value
{
  color: #E1E1E1;
}

.redeem-record-cell .item-image
{
  width: 104px;
  height: 53px;
}
