.tron-btn, .tron-btn:visited
{
  position: relative;
  display: inline-block;
  padding: .5em 1em .5em;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  border-radius: 4px;
  background: transparent;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(11,181,158,1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(11,181,158,1);
  box-shadow: 0px 3px 0px 0px rgba(11,181,158,1);
}

.tron-btn-discourage
{
  border: 1px solid #b4b4b4;
  color: #b4b4b6;
  margin-right: 20px;
  box-shadow: none;
}

.tron-btn-encourage
{
  border: 1px solid #0BCDB1;
  color: #fff;
  background: #0BCDB1;
}

.tron-btn-disabled
{
  border: 1px solid #454449;
  color: #69696b;
  background: transparent;
}

.tron-btn-ghost, .tron-btn-default
{
  display: block;
  border: 1px solid #fff;
  padding: .5em 1em .5em;
  border-radius: 4px;
  color: #fff;
  background: transparent;
  box-shadow: none;
}

.tron-btn-default
{
  display: inline-block;
  padding: 0;
}

.tron-btn-ghost-inactive
{
  opacity: 0.5;
}

.tron-btn-ghost-active
{
  border: 1px solid #0BCDB1;
  background: #0BCDB1;
}

.tron-btn-ghost-active:active, .tron-btn-ghost-active:hover, .tron-btn-ghost-active:visited
{
  background: #0BCDB1;
}

.tron-btn-ghost-small
{
  display: block;
  padding: 0px 10px 0px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
}

.tron-btn-ghost-small:active
{
  color: #fff;
}

input.btn
{
  padding-bottom: 7.5pt !important;
}

input.btn::-webkit-input-placeholder
{
  color: #fff;
}

.page-header .tron-btn-ghost-small
{
  position: absolute;
  padding: 0;
  display: inline-block;
  padding: 0 .5em;
  text-decoration: none;
  right: 15px;
}

.tron-btn-encourage-large-buy
{
  border-radius: 4px;
  border: 1px solid #0BCDB1;
  padding: .5em 1em .5em;
  font-size: 20px;
}

.user-header-block .tron-btn
{
  display: inline-block;
  position: static;
  font-size: 16px;
  padding: .5em 1em;
}

.recharge-cell .btn, .claim-accessory-page .btn
{
  width: 60px;
  padding: 5px;
}

.btn-pay
{
  margin-top: 50px;
}

.tron-btn-pay
{
  margin-top: 8px;
  margin-left: 0;
  margin-right: 15px;
  width: 94%;
}

.item-info .btn
{
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 20px;
  color: #fff;
  padding: 10px 20px;
}

.buy-confirm-page .tron-btn-encourage
{
  padding: .5em 1em .5em;
  border-radius: 4px;
  font-size: 20px;
  width: 100%;
}
