.follow-us
{
  color: #fff;
  text-align: center;
  padding-top: 40px;
}

.follow-us .brand-name
{
  color: #d8321e;
  font-size: 18px;
  margin-bottom: 15px;
}

.follow-us .brand-slogan
{
  margin-top: 15px;
}

.follow-us .qr-code
{
  width: 279px;
  height: 171px;
}

.follow-us .promote-text-area
{
  margin-top: 40px;
}

.promote-text-area p
{
  color: #fff;
}
