.tron-form
{
  padding: 5px;
}

.form-unit
{
  color: #E1E1E1;
  margin-bottom: 10px;
}

.stake-unit
{
  border-radius: 4px;
  padding: auto 5px;
  width: 100%;
  border: 1px solid #E1E1E1;
  font-size: 14px;
}

.stake-unit:focus
{
  border: 1px solid #DDAD7B;
}

.stake-unit .stake-input
{
  border: none;
  width: 60%;
  border-radius: 0;
  border-left: 1px solid #E1E1E1;
  box-shadow: none;
  background: transparent;
  color: #fafafa;
  height: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 10px;
}

.stake-unit .stake-input:focus
{
  border-left: 1px solid #DDAD7B;
}

.stake-unit label
{
  line-height: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  display: inline-block;
}

.form-actions
{
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.form-actions .btn
{
  width: 100%;
  display: block;
  margin-bottom: 6%;
}

.error-message
{
  text-align: center;
  font-size: 20px;
  color: #e1e1e1;
  line-height: 28px;
}

.modal-tron-sm .stake-unit label, .modal-tron-sm .stake-unit input
{
  font-size: 15px;
}
