input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder {
   color: #5a5a5a;
}

:-moz-placeholder { /* Firefox 18- */
   color: #5a5a5a;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #5a5a5a;
}

:-ms-input-placeholder {
   color: #5a5a5a;
}

*:focus
{
    outline: 0 !important;
}

*
{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

pre
{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

a.btn:hover, a.btn:visited, a.tron-btn-ghost:hover, a.tron-btn-ghost:visited
{
  color: #fff !important;
}
