.recap-cell
{
  border-bottom: 1px solid #2b2b32 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  color: #E1E1E1;
  font-size: 12px;
}

.recap-cell .cell-title
{
  color: #fafafa;
  font-size: 14px;
  background: url(/images/lol/bg-recap-title.png) no-repeat;
  background-size: 79px 25px;
  display: block;
  height: 25px;
  width: 79px;
  line-height: 25px;
  padding-left: 10px;
}

.recap-cell .cell-content
{
  padding-left: 10px;
}

.recap-cell .team-ban-pick-info
{
  list-style: none;
  padding-left: 0;
  margin-left: 5px;
  float: left;
  width: 80%;
}

.recap-cell .team-ban-pick-info li
{
  display: block;
  margin-right: 10px;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  color: #E1E1E1;
  font-size: 12px;
}

.team-section
{
  margin-bottom: 5%;
}

.team-section .team-ban-pick-title
{
  line-height: 21px;
  color: #777;
  font-size: 12px;
  vertical-align: top;
}

.recap-cell .events
{
  list-style: none;
  padding-left: 0;
}

.recap-cell .recap-label
{
  color: #777;
  font-size: 12px;
}


.recap-cell .team-name
{
  color: #e1e1e1;
  font-size: 14px;
}

.match-report
{
  color: #e1e1e1;
  font-size: 14px;
}

.content-cell
{
  vertical-align: top;
}
