.roulette
{
  height: 127px;
  width: 100%;
  position: relative;
  background: url(/images/bg-roulette.png?112) no-repeat !important;
  background-size: cover !important;
  background-position: center;
}

.hero-league
{
  font-weight: bold;
}

.bet-cards
{
  text-align: center;
  padding-right: 15px;
}

.two-cards .bet-card
{
  width: 48%;
}

.bet-card
{
  width: 32%;
  display: inline-block;
}

.bet-card .odds
{
  color: #fff;
  margin-top: 5px;
}

.bet-card:first-of-type .bet-card-inner
{
  border-left: 1px solid #646469;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.bet-card:last-of-type .bet-card-inner
{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.bet-card-inner
{
  border-right: 1px solid #646469;
  border-top: 1px solid #646469;
  border-bottom: 1px solid #646469;
  padding: 5px 0;
  padding-top: 14px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 6px;
  position: relative;
  margin-right: -6px;
  font-size: 14px;
}

.bet-card-inner .hero-league
{
  font-weight: bold;
  color: #fff;
}

.bet-period-header
{
  color: #fff !important;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 0;
  font-size: 12px;
}

.bet-periods
{
  padding-left: 0;
}

.bet-period
{
  text-align: center;
  font-size: 12px;
}

.bet-area-cell
{
  padding-left: 15px !important;
  border-bottom: 1px solid #000;
  padding-bottom: 15px !important;
}

.bet-stats
{
  color: #8c8c8c;
  font-size: 11px;
}

.roulette-mask
{
  width: 100%;
  height: 100%;
  background: url(/images/bg-roulette-mask.png?112) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.roulette-roll
{
  width: 100%;
  height: 100%;
  background: url(/images/bg-roulette-roll.jpg?112) 0 center repeat-x;
  background-size: 5361px;
  position: absolute;
  top: 0;
  left: 0;
}

.roulette-result-wrapper
{
  width: 80px;
  height: 95px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -47.5px;
  text-align: center;
}

.roulette-result
{
  width: 80px;
  height: 95px;
  background-size: cover !important;
  background: url(/images/bg-roulette-roll.jpg?112) 0 center no-repeat;
  position: relative;
}

.bet-card-stats
{
  display: block;
  font-size: 8px;
  position: absolute;
  width: 100%;
  text-overflow: clip;
}

.hero-info
{
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.hero-info.nightmare
{
  background-color: #db3232;
}

.hero-info.tianhui
{
  background-color: #346eb7;
}

.hero-info.roshan
{
  background-color: #c67839;
}

.bet-period-cell
{
  text-align: right;
  width: 18%;
}

.bet-result-cell
{
  text-align: left;
  width: 40%;
}

.bet-table
{
  width: 100%;
}

.hero-tab-menu .icon
{
  width: 16.5px;
  height: 16.5px;
  background-size: 16.5px;
  margin-right: 5px;
}

.icon-strength
{
  background: url(/images/icon-strength.jpg) no-repeat;
}

.icon-agility
{
  background: url(/images/icon-agility.jpg) no-repeat;
}

.icon-intelligence
{
  background: url(/images/icon-intelligence.jpg) no-repeat;
}

.hero-tab-menu
{
  list-style: none;
}

.hero-tab-menu li
{
  display: inline-block;
  border-right: 1px solid #646469;
  border-bottom: 1px solid #646469;
  border-top: 1px solid #646469;
  padding: 15px;
  width: 32%;
  margin-right: -5px;
  text-align: center;
}

.hero-tab-menu li:first-child
{
  border-left: 1px solid #646469;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.hero-tab-menu li:last-child
{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.hero-tab-menu li a
{
  color: #a8a8a9;
}

.hero-tab-menu li.active a
{
  color: #fff;
}

.hero-tab-menu li.active
{
  border-bottom: none;
  padding-top: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-left: 1px solid #646469;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.hero-tab-menu li.active:last-child
{
  margin-left: -1px;
}

.card-matrix
{
  margin-top: 10px;
}

.card-matrix .bet-card
{
  margin: 0;
  /*width: 58px;*/
  height: 58px;
  border: 1px solid #646469;
  border-radius: 0;
  float: left;
  text-align: center;
  position: relative;
  font-size: 12px;
}

.card-matrix .bet-card-inner
{
  border: none;
}

.card-matrix .bet-card-stats
{
  bottom: 0;
}

.card-matrix .hero
{
  color: #fff;
  top: 50%;
  display: block;
  font-size: 10px;
  /*left: 50px;*/
  /*margin-top: 18px;*/
  position: relative;
  line-height: 16px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.tianhui
{
  border: 1px solid #346eb7 !important;
}

.roshan
{
  border: 1px solid #c67839 !important;
}

.nightmare
{
  border: 1px solid #db3232 !important;
}

.bet-card-row
{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bet-card-row .bet-card
{
  width: 20% !important;
}
