.bar-tab .tab-item.active
{
    color: #0BCDB1 !important;
}

.bar-tab .tab-item.active, .bar-tab .tab-item:active
{
    color: #0BCDB1;
}

.bar-tab .tab-item
{
    color: #e1e1e1;
    text-align: center;
}

.match-menu-cell, .tab-menu-cell
{
  color: #b4b4b4;
  background: #0a0a0a;
  padding-top: 12px;
  padding-bottom: 12px;
}

.match-menu, .tab-menu
{
    padding-left: 0;
    text-align: center;
}

.match-menu li, .tab-menu li
{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.match-menu li a, .tab-menu li a
{
  color: #b4b4b4;
}

.menu-item.active a, .tab-menu.active a
{
  color: #0BCDB1;
}

.tab-menu-cell
{
  margin-top: -12px;
}

.tab-menu .menu-item
{
  width: 30%;
}
