.user-header-block
{
  width: 100%;
  height: 220px;
  text-align: center;
  background: url(/images/lol/bg-profile.png) no-repeat;
  background-size: cover;
  padding: 12px;
  padding-top: 16px;
}

.user-header-block p
{
    color: #fff;
}

.user-header-block .circle-wrapper
{
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-sizing: content-box;
  background-clip: padding-box;
  border: 1px solid #DDAD7B!important;
}

.user-header-block .user-avatar
{
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.user-header-block .user-name
{
  margin-bottom: 0;
}

.user-menu .user-menu-cell
{
  padding-top: 5px;
  padding-bottom: 5px;
  color: #FAFAFA;
  font-size: 15px;
}

.user-menu-cell .navigate-right:after
{
  color: #777;
}

.table-view-cell.user-menu-cell
{
  background: #2b2b32;
  padding-left: 10px;
}

.table-view-cell-group .user-menu-cell
{
  border-bottom: 1px solid #000;
}

.gold-record
{
  background: #1E2025;
}

.table-view-cell.text-cell
{
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #3B3B3B !important;
  margin-left: 10px;
  margin-bottom: 0;
}

.text-cell .text-cell-right
{
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  font-size: 12px;
}

.coin-record-page .matchup
{
  color: #777;
  margin-left: 5px;
}

/* 兑换记录 */
.redeem-record-cell
{
  margin-bottom: 10px;
  padding: 10px !important;
}

.redeem-status
{
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  right: 10px;
  font-size: 14px;
}

.redeem-record-cell .item-title
{
  color: #FAFAFA;
  font-size: 14px;
}

.redeem-record-cell .item-role
{
  font-size: 12px;
}

.redeem-record-cell .redeem-time
{
  font-size: 12px;
  color: #777;
}

.text-cell .text-cell-sp{
  text-align: right;
}
.text-cell .text-cell-sp-add{
  margin-top:-21px;
}
.text-cell-sp-add .gold-tips{
  display: block;
}
.gold-tips{
  display: none;
  color:#b4b4b4;
  font-size:10px;
}
