.text-grey
{
  color: #b4b4b4;
}

.text-red
{
  color: #d8321e;
}

.text-red-tianhui
{
  color: #346eb7;
}

.text-orange-roshan
{
  color: #c67839;
}

.text-blue-nightmare
{
  color: #db3232;
}

.text-green
{
  color: #6bde19;
}

.text-yellow
{
  color: #ffae2f;
}

.text-white
{
  color: #fff;
}

.text-bright-golden
{
  color: #FDAF2F;
  overflow: hidden;
  text-overflow: hidden;
}

.text-light-golden
{
  color: #ffe08b;
}

.text-pair
{
  font-size: 12px;
  color: #fff;
}

.text-pair .subtext
{
  display: block;
  font-size: 8px;
  color: #777;
}

.border-golden
{
  border: 1px solid #DDAD7B !important;
}

.text-golden
{
  color: #DDAD7B;
}

.text-blue
{
  color: #0BCDB1;
}

.unstyled-inline-list
{
  list-style: none;
}

.unstyled-inline-list li
{
  display: inline-block;
}

.list-unstyled
{
  list-style: none;
}

.center
{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text-center
{
    text-align: center;
}

.remove-bottom-margin
{
  margin-bottom: 0 !important;
}

.subtext
{
  font-size: 8px;
  color: #2a292f;
}

.width-60-percent
{
  width: 60%;
}

.width-100-percent
{
  width: 100%;
}

.breath-space-horizental
{
  padding-left: 2px;
  padding-right: 2px;
}

ul.unstyled-list
{
  list-style: none;
  padding-left: 0;
}

.flash-message
{
  color: #fff;
  background: #c12c14;
  font-size: 10px;
  margin-bottom: 0;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.flash-message-warning
{
  color: #492D1B;
  background: #C8A369;
  z-index: 9;
}

.flash-message .message
{
  text-overflow: clip;
  overflow: hidden;
  padding-right: 50px;
  white-space: nowrap;
  width: 90%;
  display: inline-block;
}

::-webkit-input-placeholder {
   color: #5a5a5a;
}

:-moz-placeholder { /* Firefox 18- */
   color: #5a5a5a;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #5a5a5a;
}

:-ms-input-placeholder {
   color: #5a5a5a;
}

.clearfix:before,
.clearfix:after
{
  display: table;
  content: " ";
}

.clearfix:after
{
    clear: both;
}

.empty-placeholder
{
  color: #b4b4b4;
  display: block;
  width: 240px;
  height: 100px;
  margin-top: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.empty-placeholder-game
{
    margin-top: 100px;
}

.triangle
{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #777777 transparent;
}


/* Vertical alignment
 ========================================================================== */

/*
 * Remove whitespace between child elements when using `inline-block`
 */

.uk-vertical-align { font-size: 0.001px; }

/*
 *  The `uk-vertical-align` container needs a specific height
 */

.uk-vertical-align:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*
 * Sub-object which can have any height
 * 1. Reset whitespace hack
 */

.uk-vertical-align-middle,
.uk-vertical-align-bottom {
    display: inline-block;
    max-width: 100%;
    /* 1 */
    font-size: 1rem;
}

.uk-vertical-align-middle { vertical-align: middle; }
.uk-vertical-align-bottom { vertical-align: bottom; }
